/*
 Theme Name:     Divi Child
 Theme URI:      https://www.elegantthemes.com/gallery/divi/
 Description:    Divi Child Theme
 Author:         Elegant Themes
 Author URI:     https://www.elegantthemes.com
 Template:       Divi
 Version:        1.0.0
*/


/* =Theme customization starts here
------------------------------------------------------- */
/*@import url("../Divi/style.css");*/

/* AGREGADO PROYECTO_BP */
@font-face{
  font-family:"Gotham Rounded Medium Italic";src:url("http://10.200.8.76/~observatorio/wordpress/wp-content/uploads/et-fonts/Gotham-Rounded-Medium-Italic.otf") format("opentype")
}
@font-face{
  font-family:"Calibri";src:url("http://10.200.8.76/~observatorio/wordpress/wp-content/uploads/et-fonts/calibri.ttf") format("truetype")
}
@font-face{
  font-family:"Gotham Rounded Medium";src:url("http://10.200.8.76/~observatorio/wordpress/wp-content/uploads/et-fonts/Gotham-Rounded-Medium.otf") format("opentype")
}
@font-face{font-family:"Gotham Rounded Light";src:url("http://10.200.8.76/~observatorio/wordpress/wp-content/uploads/et-fonts/Gotham-Rounded-Light.otf") format("opentype")
}
@font-face{font-family:"Calibri Bold";src:url("http://10.200.8.76/~observatorio/wordpress/wp-content/uploads/et-fonts/calibrib.ttf") format("truetype")}

#sidebar .et_pb_widget{
  float:inherit;
}

.widgettitle {
    font-family: 'Gotham Rounded Bold',Helvetica,Arial,Lucida,sans-serif;
    color: #756baa!important;
    border-left-width: 2px;
    border-left-color: #f7da9b;
    padding-left: 10px!important;
    margin-top: 10px!important;
    margin-left: 0px!important;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px!important;}
}

.et_right_sidebar #sidebar {
  padding-left: 0px;
}

#wpp-2{
  border-style: solid;
  border-left-width: 2px;
  border-left-color: #f7da9b;
}


#main-content .container:before {
  display: none;
}
.wpp-list{
  margin-left: 16px;
  line-height: 19px;
}


.wpp-post-title{
    font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif;
  font-size: 16px;
  line-height: normal!important;
}

.wpp-excerpt{
  float: left;
}

.wpp-date{
  float: left;
  margin-top: 3px;
  margin-bottom: 15px;
}

#recent-posts-3{
  border-style: solid;
  border-left-width: 2px;
  border-left-color: #f7da9b;
  border-top-color: #dedef9;
  font-size: 16px;

}

#recent-posts-3 ul > li > a{
  margin-left: 15px;
  float: left;
  line-height: 17px;
}

#recent-posts-3 ul > li > span{
  margin-left: 15px;
  margin-bottom: 10px;
}

#recent-posts-3:before{
  border-top-color: #dedef9;
    border-top-style: dotted;
    border-top-width: 2px;
    width: auto;
    top: 0px;
    right: 0px;
    left: 0px;
}


.post-date{
  float: left;
  font-size: 14px;
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif;
  font-weight: bold;
  color: #575756;
}

#categories-3{
  border-style: solid;
  border-left-width: 2px;
  border-left-color: #f7da9b;
}
.cat-item{
  margin-left: 15px;
}

.post-meta >a{
  font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif;
  color: #ffffff!important;
  background-color: #a58eff;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.published{
  color: #757576;
  font-size: 14px;
  font-family: 'Calibri Bold',Helvetica,Arial,Lucida,sans-serif !important;

}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family:'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
}

.et_pb_text_1{
	color: #aaaaaa !important;
}
/*************************************/

/*
#main-content{
background-blend-mode:multiply;background-image:url(http://10.200.8.76/~observatorio/wordpress/wp-content/uploads/2019/10/observatorio-buenas-practicas-fondo-login-duotono.jpg)!important}
}
*/

/* pagina reestrablecer contraseña*/


/* General CSS */
/* Estilos del modulo iniciar session */

.entry-title{
  display: none;
}

.bp_content{
  max-width: 610px;
  background-image: linear-gradient(180deg,rgba(255,255,255,0.86) 0%,rgba(221,221,221,0.91) 100%);
  background-color: rgba(0,0,0,0);
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
  position: relative;
  margin: auto;
}
.bp_content_1{
  background-color: rgba(0,0,0,0);
  padding-top: 4vw;
  padding-right: 3vw;
  padding-bottom: 52px;
  padding-left: 3vw;
  margin-top: 0px!important;
  margin-right: 0px!important;
  margin-bottom: 0px!important;
  margin-left: 0px!important;
}

.bt_titulo h1{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
  font-size: 20px;
  color: #7580c4!important;
}
.swpm-username-label{
  display: none;
}
.swpm-password-label{
  display: none;
}
.bp_frm_login{
  margin-bottom: 3%;
  background-position: center;
  background-size: cover;
}
.swpm-text-field{
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  border-color: #d0e8d9;
  font-size: 18px;
  background-color: #ffffff;
}
.bp_content_1 .bp_frm_login input{
  width: 100%;
  padding: 16px;
  border-width: 0;
  color: #000;
}

body .bp_content_1 .bp_button{
  color: #7a5500!important;
  border-width: 0px!important;
  border-color: rgba(0,0,0,0);
  border-radius: 25px;
  letter-spacing: 0px;
  font-size: 16px;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
  background-color: #f9af0e;
  padding: 10px 16px;
}

.bp_button{
  position: relative;
  border: 2px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7em!important;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  float: right;
}

body .bp_content_1  .bp_button:hover {
    background-image: initial!important;
    background-color: #fcd00f!important;

}
.bp_button:hover{

}
.bp_button:hover, .bp_content_1 .bp_button:hover {

    border: 2px solid transparent;
}


.bp_divider {
    border-top-color: rgba(43,52,155,0.26);
    border-top-style: dotted;
    border-top-width: 2px;
    width: auto;
    top: 0px;
    right: 0px;
    left: 0px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.swpm-login-submit{
  display: table;
  width: 100%;
  margin-top: 40px;
}
.swpm-forgot-pass-link {
  text-align: center;

}
.swpm-login-form-pw-reset-link{
  color: #000!important;
  font-size: 16px;
}

.swpm-join-us-link{
  color: #ff5683!important;
  text-align: center;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
  font-size: 16px;
  background-color: rgba(0,0,0,0);
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}

.bp_msg{
  font-family: 'Calibri bold',Helvetica,Arial,Lucida,sans-serif !important;
  color: #ff4c00!important;
  padding-top: 3px!important;

  padding-bottom: 3px!important;
  margin-top: 10px!important;
  margin-bottom: 15px!important;
      font-size: 16px;

}

.swpm-login-widget-action-msg {
    font-weight:inherit;
}


/* Estilos del modal*/
#popmake-51846{
  min-width: 0%;
  max-width: 100%;
  top: 132px;
  left: 960.594px;
  opacity: 5!important;
  display: block;
  background-image: linear-gradient(180deg,rgba(255,255,255,0.86) 0%,rgba(221,221,221,0.91) 100%)!important;
  border-radius: 15px 15px 15px 15px;
  border: inherit!important;
}
#pum_popup_title_51846{
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
  font-size: 24px;
  line-height: 27px;
  padding-top: 10px!important;
  padding-bottom: 7px!important;
  color: #7580c4!important;
  text-transform: uppercase;
  margin-left: 24px;
}
.rm_form_field{
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  border-color: #d0e8d9;
  padding: 16px !important;
}
.pum-content{
  margin-top: -15px;
}

#rm_form_message_51872{
  font-family: 'Gotham Rounded light',Helvetica,Arial,Lucida,sans-serif!important;
    margin-left: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 16px;
    padding-right: 15px;
    line-height: 25px;
}



/* Estilos del modulo Restrablecer Contraseña */
.bp_content_rc{
  margin-bottom: 62px !important;
  padding-bottom: 72px !important;
}
.swpm-login-form-pw-reset-link:hover{
  color: #ff630f!important;
}
.swpm-login-form-register-link:hover{
  color: #ff870f!important;
}
.swpm_error{
  text-align: center;
}
/* Estilos del modulo Registrar Usuario */


/* Estilos Seccion Noticias*/
/*
.et_pb_row_9{
 display: none!important;
}

*/

/* Estilo por defecto */
.yasr-total-average-container{
  display: none!important;
}
.yasr-small-block-bold{
  display: none!important;
}
.yasr-total-average-text{
  display: none!important;
}


.bp_content_bbpp{
width: 80%;
position: relative;
/*max-width: 1080px;*/

}

.bp_select_bbpp[data-type=select] {
    position: relative;
}
.bp_select_bbpp[data-type=select]:after {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    margin-top: 3px;
    border: 6px solid;
    border-color: #666 transparent transparent transparent;
    content: "";
    transform: translateY(-50%);
    pointer-events: none;
}
.bp_select_bbpp{
  position: relative;
  float: left;
    width: 50%;
    margin-bottom: 3%;
    padding: 0 0 0 3%;
    background-position: center;
    background-size: cover;
  Max-width: 40%;
  border-width: 0;



}
.bp_select_bbpp_s{
  margin-left: -30px;
}
.bp_select_bbpp_0{
    box-sizing: border-box;
    width: 100%;
    padding: 16px 20px 16px 10px;
    border: 0;
    border-radius: 0;
    color: #575756;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-style: solid;
    border-color: #ffc30f;
    border-bottom-width: 2px;
    box-shadow: 0px 12px 18px -10px rgba(0,0,0,0.3)!important;

}
.bp_button_bbpp{
  color: #603e00!important;
    border-width: 0px!important;
    border-color: rgba(0,0,0,0);
    border-radius: 25px;
    font-size: 15px;
    font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif!important;
    background-color: #ffc30f;
    padding-top: 6px!important;
    padding-right: 27px!important;
    padding-bottom: 6px!important;
    padding-left: 27px!important;
    margin-top: 15px!important;
    margin-bottom: 0px!important;
    margin-right: -20px;
}
.bp_button_bbpp:hover{
background-image: initial!important;
    background-color: #ffdb0f!important;
}
.bp_response_bbpp{
margin-top: 100px;
}

.bp_resultado_bbpp{
  padding-top: 20px!important;
  padding-bottom: 0px!important;
  margin-top: 0px!important;
  padding-top: 20px;
  padding-bottom: 0px;
  /*border: 1px solid #afcde3;*/
}
.bp_resultado_bbpp_imagen{
  width: 23.9%;
  margin-right: 3%;
  z-index: 9;
    position: relative;
    float: left;
    line-height: 0;
}
.bp_resultado_bbpp_titulo{
  margin-bottom: 3.735%;
  color: #000000!important;
  font-family: 'Gotham Rounded Medium',Helvetica,Arial,Lucida,sans-serif;
    font-size: 21px;
    margin-bottom: 5px!important;
    text-transform: lowercase;
}
.bp_resultado_bbpp_titulo:first-letter {text-transform:uppercase;}

.bp_resultado_bbpp_terms{
  margin-bottom: 3%;
  position: relative;
}
.bp_terms_bbpp_0{
  margin-left: 0px;
  font-family: 'Calibri Bold',Helvetica,Arial,Lucida,sans-serif;
    color: #ffffff!important;
    background-color: #b8d677;
    display: inline-block;
    padding: .25em .4em;
    font-size: 65%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-style: solid;
    border-color: #333;
    text-transform:uppercase;
    float: left;
    margin-right: 15px;
}
.bp_terms_bbpp_1{
  margin-left: 0px;
  font-family: 'Calibri Bold',Helvetica,Arial,Lucida,sans-serif;
  color:#ffffff !important;
  background-color:#bd93ed;
  display: inline-block;
padding: .25em .4em;
padding-bottom: 0.25em !important;
font-size: 65%;
font-weight: 400;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: middle;
border-style: solid;
border-color:#333;
text-transform:uppercase;
  float: left;
  margin-right: 15px;
}
.bp_resultado_bbpp_contenido{
    line-height: 22px;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    /*margin-top: -25px!important;*/
    margin-bottom: 0px!important;
    text-align: left;
    font-size: 18px;
    margin-top: -9px;
}
.bp_resultado_bbpp_terms{
  color:#000!important;
  font-size: 18px!important;
}
.bp_liena_bbpp{
  border-bottom: 2px dotted #fff;
  width: 100%;
}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .bp_content {
    width: 100%;
    padding-right: 6vw;
    padding-left: 6vw;
    /*background-color: lightcoral;*/
  }
  .swpm-login-submit {
    margin-top: 20px;
  }
  .bp_frm_login {
    margin-bottom: 10%;
  }
  /*
  .et_pb_contact_main_title {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  */
  .bp_msg {
  }

  /** MODULO RESTABLECER CONTRASEÑA **/
  .bp_content_rc {
    width: 100%;
    padding-right: 4vw;
    padding-left: 4vw;

  }
  /*
    #main-content {
      padding-bottom: 45%;
    }

    .bt_titulo h1{
      padding-top: 15px;
      font-size: 16px;
    }
    .swpm_label {
      font-size: 14px;
    }
    body .bp_content_1 .bp_button{
      margin-top: 10px;
      font-size: 14px;
    }
  */
}


/*
@media (max-width: 980px)
.bp_content , .bp_content_1 {
    max-width: 1080px;
    width: 100%;
}


@media screen and (max-width: 400px) {
  html {
    background-color: lightblue;
  }
}

@media screen and (min-width: 400px) and (max-width: 980px) {
  .bp_content {
    width: 100%;
    padding-right: 6vw;
    padding-left: 6vw;

  }
}

@media screen and (min-width: 500px) {
  html {
    background-color: lightgreen;
  }
}
*/



/* TERMINA PROYECTO_BP*/
